.city-header {
    display: flex;
    margin:0;
    font-size: 2em;
    flex-direction: column;
    justify-content: center;
}

.city-header h2{
    margin: 0;
}

.city-image {
    margin-top: 2em;
}
.city-image img{
    height:30vh;
    width: 40vw;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    padding: 4em;
}
.post-btn {
    border-radius: 50%;
    padding: 1em;
    width: 5em;
    height: 5em;
    background: orange;
    border: 1px solid black;
}
.post-btn span {
    font-size: 20px;
}

.post-box {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border: 1px solid rgb(241, 241, 241);
    border-radius: 5px;
    margin: 1em 2em;
}

.post-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .8s;
}

.post-box-image {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 10vh;
    width: 12vw;
    border: 1px solid black;
    border-radius: 4px;
    margin: .5em 2em .5em .5em ;
}
.post-box-image img {
    height: 100%;
    width: 100%;
}
.post-box-content {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-right: 2em;
}