nav{
    background-color: orange;
    display: flex;
    justify-content: space-between;
}

nav h1{
    padding:.5em;
}

.nav-items{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}