:root {
    --seagreen-dark-cerulean: #1b4079;
    --seagreen-teal-blue: #4d7c8a;
    --seagreen-dark-sea-green: #87ad88;
    --seagreen-medium-spring-bud: #cbdf90;
    --white: white;
}

body {
    background-color: var(--white);
}

.home-carousel {
    height: 60vh;
    position: relative;
}

.carousel-image-container {
    width: 100%;
    height: 60vh;
    position: relative;
}

.carousel-image {
    width: 100%;
    height: 60vh;
    position: relative;
}

.home-body h2,
h1 {
    display: flex;
}

.home-body h1 {
    display: flex;
    justify-content: center;
}

.heading {
    margin-top: 1%;
}

.home-content {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    width: 100%;
    padding: 1% 2em;
    margin: 0;
}

.home-body p,
h1,
h2 {
    margin-left: 1em;
    margin-right: 1em;
}

.arrow {
    position: absolute;
    border: solid var(--white);
    border-width: 0 4px 4px 0;
    padding: 5px;
    top: 50%;
    z-index: 10;
    size: 100;
    margin: 5;
    width: 25;
    height: 25;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    left: 2%;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 2%;
}