.home-carousel {
    height: 70vh;
    position: relative;
}

.carousel-image-container{
    width: 100%;
    height: 70vh;
}
.carousel-image{
    width: 100%;
    height: 70vh;
}

.main{
    background-color: white;
}


.home-body h3 {
    display: flex;
    justify-content: center;
}
.home-content {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    width: 100%;
    padding: 2em;
    margin: 0;
    background-color: white;
}
