@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');
body{
  margin: 0;
  padding:0;
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
}

h1{
  margin:0;
  padding:0;
}